.radio-card {
	border-radius: 10px !important;

	.radio-card-label {
		background-color: #e6ebf5;
		border: none;
		border-radius: 4px;
		color: #2e5aac !important;
	}

	&.radio-selected {
		background-color: #e6edfb !important;
		border: solid #6a8fea 2px !important;
		box-shadow: 0 6.25px 20px rgba(11, 95, 255, 0.1);
	}
}
